<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button @click="cambiarVisivilidad">Mostrar/Ocultar</button>
      <ol v-if="mostrar">
        <li v-for="(show, index) in tvshows" :key="index">
          {{show.name}} - (temporada {{show.temporada}})
        </li>
      </ol>
      <div v-else>No hay datos</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
      Vue.component("et-shown", {
        props: {
          name: String,
          temporadas: Number,
        },
        template: `<div> 
        <strong>{{name}}</strong> teadas {{temporadas}}
        </div>`,
      });

      const app = new Vue({
        el: "#app",
        data: {
          message: "La hora es " + new Date().toLocaleString(),
          mostrar: true,
          tvshows: [
            { name: "Juego de tronos", temporada: 4 },
            { name: "Juego de Ender", temporada: 0 },
            { name: "Titanic", temporada: 1 },
            { name: "Aqui no hay quien viva", temporada: 2 },
          ],
        },
        methods: {
          cambiarVisivilidad: function () {
            this.mostrar = !this.mostrar;
          },
        },
      });
    </script>
  </body>
</html>
